[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
 h5py = "*"
 pickle5 = "*"
 numpy = "*"
 matplotlib = "*"
 pandas = "*"
 requests = "*"
 scikit-image = "*"
 matplotlib = "*"
 seaborn = "*"
 scikit-learn = "*"
 scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
